<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1  class="h3 mb-0 text-gray-800">Product</h1>
    

    <a routerLink="/product-create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Create Product</a>
</div>
<div class="container">
	<div class="row">
        <div *ngIf="delete" class="alert alert-danger" role="alert">
            Are you sure?<button class="btn btn-danger" (click)="onyes()">yes</button><button class="btn btn-danger" (click)="onNo()">no</button>
           </div>
      
     
	<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Type</th>
               <th>Action</th>
               

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList">
               
                  
               <a routerLink="/product-view/1"> <td>{{product.productname}}</td></a>
                <td>{{product.productprice}}</td>
                <td>{{product.discount}}</td>
                <td>{{product.producttype}}</td>
                <th>
                    <a routerLink="/product-edit/{{product.id}}" class="btn btn-success" >Edit</a> |
                
                    <a (click)="ondelete(product)" class="btn btn-danger"  >Delete</a>
                </th>
               
              
            </tr>
           
    </table>
	</div>
</div>

