<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User</h1>
    
    <a routerLink="/user-create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Create User</a>
</div>
<div class="container">
	<div class="row">
        <div *ngIf="delete" class="alert alert-danger" role="alert">
            Are you sure?<button class="btn btn-danger" (click)="onyes()">yes</button><button class="btn btn-danger" (click)="onNo()">no</button>
           </div>
      
	<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                
                <th>User Id</th>
                <th>User Name</th>
                <th>Age</th>
                <th>Phone Number</th>
               <th>Action</th>
               

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList" >
               
                  
                <td>{{user.userid}}</td>
                <a routerLink="/user-view/1"> <td>{{user.username}}</td></a>
                <td>{{user.age}}</td>
                <td>{{user.phonenumber}}</td>
                <th>
                    <a routerLink="/user-edit/{{user.id}}" class="btn btn-success"> Edit </a> |
                    <a (click)="ondelete(user)" class="btn btn-danger"  >Delete</a>
                </th>
               
              
            </tr>
           
    </table>
	</div>
</div>
